<div id="particles-js">
  <div class="header">
      <h3>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h3>
      <div class="header-icons">
        <a aria-label="My Resume" target="_self" href="https://ormanilhan.github.io/resume.pdf"><i class="icon fa fa-user" aria-hidden="true"></i></a>
        <a aria-label="Send email" href="mailto:ormanilhan@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_self" href="https://www.linkedin.com/in/ormanilhan/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_self" href="https://github.com/ormanilhan"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>        
      </div>
  </div>
</div>
